/* Start of my css file! */
/*************************/

/* Edit the body */
body {
    position: static;
    background-color: lightcyan;
}

/* Using CSS Variables with Fallback */
:root {
    --primary-color: #db34c2; 
   --fallback-color: #c5c844; 
}

/* All h2 headers change color */
h2 {
    color: rgb(57, 32, 140);
}  

/* h3 edits */
h3 {
    color: hsl(9, 90%, 64%); 
}

/* h4 edits */
h4 {
    color: var(--primary-color, var(--fallback-color));
}

/* Color button */
button {
    color: #1c831c; 
    background-color: #3131bc;
    font-size: 2rem;
    max-width: 2rem;
    max-height: 2rem;
}
.btn:active {
    background-color: #000000; 
    transform: scale(0.95);
}

/* Change up the header */
#title {
    color: color(display-p3 0.4 0.2 0.8);
    height: 20vw;
    width: 100vw;
}

/* margins */
.container {
    position: relative;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.container2 {
    margin: 20px 15px 50px auto;
    padding: 10px 20px 15px 5px;
}

/* borders! */
.border-box {
    border-style: dashed;     
    border-color: #ff69b4;       
    border-width: 4px;          
    border-radius: 10px;          
    padding: 20px;
    margin: 30px;
    background-color: #ffe4e1;
}

/* text styles */
.text-style {
    color: darkblue;
    text-decoration: underline;
    text-align: center;
}

/* display */
.none {
    display: none;
}

.block {
    display: block;
    background-color: lightblue;
    padding: 10px;
    margin-bottom: 10px;
}
  
.inline {
    display: inline;
    background-color: rgb(8, 68, 8);
    padding: 5px;
}

/* pseudoclass */
.emlink:hover {
    color: #ff6347; 
    text-decoration: underline;
}

/* flex */
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: red;
}

/* container */
.grid-container {
    display: grid;
    justify-items: center;
    grid-template-rows: auto;
    border-radius: 5;
}